*{
    padding: 0;
    margin: 0;
    font-size:32px;
}

a{
    text-decoration: none;
    color: inherit;
}

.contact_container{
   
}


.homepage{
 padding: 32px 0px 64px 0px;
   background-color: #35E8D0;
  
}

.homepage_wrapper{
 width: 90%;
   margin: 0 auto;
}

.homepage_container{
    background-color: white;
    color: #883EEB;
padding: 64px;
border-radius: 16px;
display: flex;

}

.icons{
    width: 32px;
    height: 32px;
}

.profile_image{
    width: 600px;
    height: 500px;
object-fit: cover;

}



.content_container{
    margin-left: 32px;
}

.welocme_text{
    margin-bottom:16px;
    text-transform: capitalize;
}
.name{
    margin-bottom:16px;
    font-size: 48px;
 text-transform: uppercase;
}

.role{
    margin-bottom: 24px;
    font-size: 24px;
}

.desc{
    margin-bottom: 8px;
}

.aboutme_container{
    margin-bottom: 64px;
}

.contact_container{
    /* width: 350px; */
    display: flex;
    justify-content: space-evenly;
}



/* navbar */

.navbar{
    display: flex;
    align-items: center;
    margin-bottom: 72px;
   
}

.page_links{
    display: flex;
    width: 500px;
    justify-content: space-around;

}

.logo{
    text-transform: uppercase;
    flex: 1 1 auto;

}

.page_links a{
text-transform: capitalize;
font-size: 24px;
align-items: center;
}


@media  only screen and (max-device-width: 756px) {
    .name{
        color: red;
    }
 
    .nav_desktop{
        display: none;
    }
     .profile_image{
        width: 100% ;
        height: 700px ;
    }

    .homepage_container{
        flex-direction: column;
    }


    

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
   right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

    /* .closebtn{
        display: none;
    }
    .menu_open_icon{
        display: none;
    } */

}


  @media (max-width:765px) 
  {
   
.homepage_container{
   
    flex-direction:  column;
}

}







@media only screen and (max-width: 600px) 
{
    .name{
        color: yellow !important;
    } 
   
}






