*{
    padding: 0;
    margin: 0;
    font-size:32px;
}


.contact_container{
   
}


.homepage{
 padding: 32px 0px 64px 0px;
   background-color: #35E8D0;
  
}

.homepage_wrapper{
 width: 90%;
   margin: 0 auto;
}

.homepage_container{
    background-color: white;
    color: #883EEB;
padding: 64px;
border-radius: 16px;
display: flex;
}

.icons{
    width: 32px;
    height: 32px;
}

.profile_image{
    width: 600px;
    height: 500px;
object-fit: cover;
/* object-position: ; */
}
.content_container{
    margin-left: 32px;
}

.welocme_text{
    margin-bottom:16px;
    text-transform: capitalize;
}
.name{
    margin-bottom:16px;
    font-size: 48px;
 text-transform: uppercase;
}

.role{
    margin-bottom: 24px;
    font-size: 24px;
}

.desc{
    margin-bottom: 8px;
}

.aboutme_container{
    margin-bottom: 64px;
}

.contact_container{
    /* width: 350px; */
    display: flex;
    justify-content: space-evenly;
}



/* navbar */

.navbar{
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.page_links{
    display: flex;
    width: 500px;
    justify-content: space-around;

}

.logo{
    text-transform: uppercase;
    flex: 1 1 auto;

}

.page_links p{
text-transform: capitalize;
font-size: 24px;
}

